<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <%- include('partial/head') %>
</head>
<body>
    <%-include('partial/navegation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloribus perspiciatis ullam labore est suscipit iure distinctio modi voluptatibus voluptas cumque laborum pariatur iste fugiat, vel alias provident. Nisi illo dolores reprehenderit voluptas sequi ad numquam eaque explicabo excepturi. Distinctio asperiores deleniti pariatur, quibusdam quisquam harum atque cum quasi voluptatum libero. Cum magni maiores incidunt sunt soluta nisi, consequuntur ipsam ullam corrupti quam? Autem debitis nihil numquam quasi aliquam ipsam nesciunt quidem eveniet asperiores, recusandae corrupti exercitationem nemo atque vero distinctio. Vel illo quae eum rerum consequatur, odio atque asperiores repellat? Voluptatum, voluptas assumenda laborum reprehenderit neque deserunt quas voluptatem aliquid accusamus ab necessitatibus reiciendis vel dignissimos itaque! Repellat quisquam corporis dolore. Ad voluptates adipisci aspernatur perspiciatis voluptas nulla excepturi beatae nam repudiandae reprehenderit optio nostrum esse animi, vitae non nisi. Veritatis, eveniet enim reiciendis consequatur vel itaque hic blanditiis deleniti ipsa sint error beatae ullam odio quibusdam fuga officia earum ea facere debitis praesentium fugiat laborum. Dolor, perspiciatis ea rerum accusantium similique distinctio quibusdam culpa suscipit expedita quidem quia inventore repellendus rem aliquam repellat eos atque nulla reiciendis possimus at nisi asperiores. Architecto et mollitia tenetur, atque aperiam placeat culpa fugiat. Reprehenderit eligendi dolorum laboriosam ex, dignissimos accusantium id.</p>
        </section>
    </main>
    <%- include('partial/footer') %>
</body>
</html>