<footer class="bg-dark text-center p-2">
    <h1>
        lorem, ipsum dolor,
    </h1>
    <p class="h-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis accusantium iure nam quos voluptatum cumque nulla vero ipsa tempora vel suscipit dolorem <br> repellat molestiae quasi impedit labore, harum ducimus iste quam voluptates beatae quaerat. Voluptas, eaque br
        fugiat sapiente consequatur laudantium minima assumenda rerum voluptates ex. Officiis amet voluptas, rerum maxime quia excepturi necessitatibus quae
         temporibus quam omnis nisi dolorem, aperiam blanditiis. Possimus voluptate suscipit perspiciatis quo eaque vitae unde, cum doloribus neque at distinctio culpa vel corporis! Beatae provident minus reiciendis ut ab ipsa ducimus at, facilis dicta expedita praesentium quisquam impedit qui dolore officia commodi. Molestiae eius pariatur soluta.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>